## Data Collection

In this phase we will collect the customer ratings data from the airline quality website called [Skytrax](https://www.airlinequality.com/airline-reviews/british-airways) . We will collect data about airline ratings, seat ratings and lounge experience ratings from this website.

In [5]:
#importing libraries

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [6]:
#create an empty list to collect all reviews
reviews=[]

#create an empty list to collect rating stars
stars=[]

#create an empty list to collect date
date=[]

#create an empty list to collect country the reviewer is from
country=[]

In [7]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "lxml")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 33
Error on page 34
Error on page 35

In [8]:
#check the lenght of total reviews extracted
len(reviews)

3500

In [9]:
len(country)

3500

In [10]:
#check the lenght
stars=stars[:3500]

In [11]:
#create a dataframe from these collected list of data

df=pd.DataFrame({"reviews":reviews, "stars":stars, "date":date, "country":country})

In [12]:
df.head()

,reviews,stars,date,country
0,Not Verified | I flew internationally for the...,\n\t\t\t\t\t\t\t\t\t\t\t\t5,5th August 2024,United States
1,"✅ Trip Verified | BA, after subsequent delays ...",1,3rd August 2024,Italy
2,Not Verified | It is embarrassing to have th...,1,2nd August 2024,Australia
3,✅ Trip Verified | Flight cancelled due to bad ...,1,2nd August 2024,United Kingdom
4,✅ Trip Verified | British Airways oversold my...,10,30th July 2024,United States

In [13]:
df.shape

(3500, 4)

## Export the data into a csv format

In [15]:
import os

cwd=os.getcwd()
df.to_csv(cwd+"/BA-reviews.csv")